<footer>
  <div class="grid-container">
    <div class="grid-y grid-padding-y small-up-1 text-center">
      <div class="cell">
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="cell">
        <h3>Contact</h3>
        <p><i class="fas fa-map-marker-alt"></i>address here</p>
        <p><i class="fas fa-phone"></i>phone here</p>
      </div>
    </div>
    <div class="text-center legal">
      <p>Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
    </div>
  </div>
</footer>
